<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <p>
      {{post.title}}
      </p>
      <img src="{{post.picture}}" alt="{{post.description}}">
      <p>
      {{post.description}}
    </p>
    <a href="/post/{{post.id}}">View Post</a>
  </div>
</div>
{{/each}}
