{{log this}}

<br>
<br>
<br>
<div class="container card has-text-centered ">
  <br>
      <div class="card-image">
  </div>
  <div class="card-content has-text-centered">
    <div class="media-center">
      <div class="media-center">
        <figure class="container image is-inline-block" id="post-image">
          <img src="{{picture}}" alt="{{title}}">
        </figure>
      </div>
      
    </div>
    <br>
    <div class="media-content">
        <p class="title is-4">{{title}}</p>
      </div>
    <div class="content is-size-5">
      {{description}}
      <br>
        Created by: {{user.first_name}} {{user.last_name}}
    </div>
  </div>
</div>

<div class="comment-list">
  {{#if comments.length}}
  {{#each comments as |comment|}}
  <div class="media m-5">
    {{!-- <div class="buttons is-right">
      <button class="delete" data-id="{{comment.id}}"></button>
    </div> --}}
    <figure class="media-left">
      <br>
      <p class="image is-64x64">
        <br>
        <img src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
      </p>
    </figure>
    <div class="media-content">
      <div class="content">
        {{!-- <br> --}}
        <p>
          <br>
          <strong>{{user.first_name}} {{user.last_name}}</strong> 
          <br>
          {{comment.text}}
          <br>
          <small><a>Like</a> · <a>Reply</a></small>
        </p>
      </div>
      {{!-- <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-reply"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
          </a>
          <a class="level-item">
            <span class="icon is-small"><i class="fas fa-heart"></i></span>
          </a>
        </div>
      </nav> --}}
    </div>
  </div>
  {{/each}}
  {{/if}}
</div>


<div class="media m-5">
  <figure class="media-left">
    {{!-- <p class="image is-64x64"> --}}
      <img class="image is-64x64" src="https://static.vecteezy.com/system/resources/previews/002/318/271/original/user-profile-icon-free-vector.jpg">
    {{!-- </p> --}}
  </figure>
  <form id="new-comment-form" data-id="{{id}}">
    <div class="field">
      <div class="control">
        <textarea class="textarea" id="comment-text" placeholder="Add a comment..."></textarea>
      </div>
    </div>
    <div class="field">
      <div class="control">
        <button class="button is-dark" type="submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/post.js"></script>