<div class="columns">
  <div class="column">
    <h2 class="title is-2">My Style</h2>
  </div>
  <div class="column">
    {{log this}}
    <h3 class="title is-3">Hi, {{user.first_name}}{{user.last_name}}!</h3>
  </div>
</div>

<div class="columns">
  <div class="column">
    <h3 class="title is-3">Create a New Post:</h3>

    <form class="box" id="create-post-form">
      <div class="field">
        <label class="label">Title:</label>
        <div class="control">
          <input class="input" type="text" id="post-title"/>
        </div>
      </div>
      <div class="field">
        <label class="label">Description:</label>
        <div class="control">
          <input class="input" type="text" id="post-description"/>
        </div>
      </div>
      <div class="field has-addons">
        <label class="label">Picture:</label>
        <div class="control">
          <input class="input" type="text" placeholder="image url">
        </div>
        <div class="control">
          <a class="button is-link is-light">
            Upload
          </a>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <button class="button is-dark" type="submit">Create</button>
        </div>
      </div>
    </form>
    </div>

    <div class="column">
      <h3>My Posts:</h3>
    
      {{#if posts.length}}
      {{#each posts as |post|}}
      <div class="col-md-5">
        <p>
          {{post.title}}
        </p>
        <img src="{{post.picture}}" alt="{{post.description}}">
        <p>
          {{post.description}}
        </p>
        <a href="/post/{{post.id}}">View Post</a>
      </div>
      {{/each}}
      {{/if}}
    </div>
</div>

 
  
</div>

<script src="./js/profile.js"></script>